*{
  box-sizing: border-box;
}

body {
  background-color: indigo;
  color: #fff;  
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin: 0;
  padding: 0;
}

.game-container {
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
  min-height: 100vh;
  min-width: 100vw;
  padding: 1vmin 0;
}

canvas {
  width: 70vmin;
  height: 70vmin;
  margin-bottom: 1rem ;
  outline: 4px solid #ff6600;
  border-radius: 8px;
  background-color: #feff9d;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.481);
}

.btns {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
}

button {
  background-color: #fdef05;
  border-radius: 8px;
  /* border-color: #ff6600; */
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.481);
  font-family: inherit;
  margin: 0;
  padding: 0.5rem 2rem;
}

button:active{
  background-color: #c8be04
}



button:not(:last-child) {
  margin-right: 10px;
}

.stadistics {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}
p{
  margin: 0;
}

.record{
  font-size: 1rem;
}

.lives{
  font-size: 2rem;
}

@media (max-width: 440px) {
  button { margin-top: 25px; }
  #up, #down { margin-left: 100%; margin-right: 100%; }
}
@media (min-width: 640px) {
  .btns{
    display: none;
  }
}